body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background: #540660;
}



#outputScreen {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    margin: 0;
    padding-right: 10px;
    height: 8rem;
    background: rgb(187, 235, 170);
    border: 1px solid grey;
    border-radius: 5px;
}

.AC {
    background-color:#99e599;

}
div {
    display: flex;
}

button {
    width: 4rem;
    height: 3rem;
    background: white;
    border: 1px solid grey;
    margin: 3px 3px 0px 3px;
    border-radius: 5px;
    font-size: 18px;
}

.equal {
    flex: auto;
    background-color:#99e599;
}

button:active {
    box-shadow: 0 1px blueviolet;
    transform: translate(3px);
}